	<footer class="gt-footer">
		<p>Copyright 2015-2016 by <a href="http://weibo.com/raphaelsoul">@MrYasasii_Hentai</a></p>
		<p>Theme opensourced on Github <a href="https://github.com/raphaelsoul/geilcode">Geiltheme</a></p>
	</footer>