<div data-role="charm" id="charmSearch">
    <h1 class="text-light">Search</h1>
    <hr class="thin"/>
    <br />
    <div class="input-control text full-size">
        <!--<label>
            <span class="dropdown-toggle drop-marker-light">Anywhere</span>
            <ul class="d-menu" data-role="dropdown">
                <li><a onclick="setSearchPlace(this)">Anywhere</a></li>
                <li><a onclick="setSearchPlace(this)">Options</a></li>
                <li><a onclick="setSearchPlace(this)">Files</a></li>
                <li><a onclick="setSearchPlace(this)">Internet</a></li>
            </ul>
        </label>-->
        <input type="text">
        <button class="button"><span class="mif-search"></span></button>
    </div>
</div>