	<nav class="navi">
		<div class="gt-logo">R</div>
		<div class="gt-nav-tag">
			噫
		</div>
		<div>
			<ul>
				<li><a href="/">首页</a></li>
				{{#foreach navigation}}
				<li><a href="{{url absolute="true"}}">{{label}}</a></li>
				{{/foreach}}
			</ul>
		</div>
	</nav>