<div data-role="charm" id="charmSettings" data-position="top">
    <h1 class="text-light">Settings</h1>
    <hr class="thin"/>
    <br />
    <div class="schemeButtons">
        <div class="button square-button tile-area-scheme-dark" data-scheme="dark"></div>
        <div class="button square-button tile-area-scheme-darkBrown" data-scheme="darkBrown"></div>
        <div class="button square-button tile-area-scheme-darkCrimson" data-scheme="darkCrimson"></div>
        <div class="button square-button tile-area-scheme-darkViolet" data-scheme="darkViolet"></div>
        <div class="button square-button tile-area-scheme-darkMagenta" data-scheme="darkMagenta"></div>
        <div class="button square-button tile-area-scheme-darkCyan" data-scheme="darkCyan"></div>
        <div class="button square-button tile-area-scheme-darkCobalt" data-scheme="darkCobalt"></div>
        <div class="button square-button tile-area-scheme-darkTeal" data-scheme="darkTeal"></div>
        <div class="button square-button tile-area-scheme-darkEmerald" data-scheme="darkEmerald"></div>
        <div class="button square-button tile-area-scheme-darkGreen" data-scheme="darkGreen"></div>
        <div class="button square-button tile-area-scheme-darkOrange" data-scheme="darkOrange"></div>
        <div class="button square-button tile-area-scheme-darkRed" data-scheme="darkRed"></div>
        <div class="button square-button tile-area-scheme-darkPink" data-scheme="darkPink"></div>
        <div class="button square-button tile-area-scheme-darkIndigo" data-scheme="darkIndigo"></div>
        <div class="button square-button tile-area-scheme-darkBlue" data-scheme="darkBlue"></div>
        <div class="button square-button tile-area-scheme-lightBlue" data-scheme="lightBlue"></div>
        <div class="button square-button tile-area-scheme-lightTeal" data-scheme="lightTeal"></div>
        <div class="button square-button tile-area-scheme-lightOlive" data-scheme="lightOlive"></div>
        <div class="button square-button tile-area-scheme-lightOrange" data-scheme="lightOrange"></div>
        <div class="button square-button tile-area-scheme-lightPink" data-scheme="lightPink"></div>
        <div class="button square-button tile-area-scheme-grayed" data-scheme="grayed"></div>
    </div>
</div>