		<footer class="gt-subpage gt-pagination">
			<div>
				{{#if prev}}
				<a href="{{page_url prev}}">prev</a>
				{{/if}}
					{{page}} / {{pages}}
				{{#if next}}
				<a href="{{page_url next}}">next</a>
				{{/if}}
			</div>
		</footer>	