<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--Mobile Devices-->
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes"/>
    <!--END-->
    <!--FONTS-->
    <link href='http://fonts.useso.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <!---->
    <link rel="stylesheet" href="{{asset "css/styles.css"}}"/>

</head>
<body>
<!--header-->
<!--banner/nav-->
    <div class="body-wrapper">
        <div class="sidebar">
            <div class="logo">
                <a href="#">
                    <h1>Geilcode</h1>
                </a>
            </div>
        </div>
    <!--main-->
        <div class="posts-area">
            {{{body}}}
        </div>
    </div>
    <!--footer-->
</body>
</html>