{{!< default}}
<div class="tile-area tile-area-scheme-dark fg-white" style="height: 100%; max-height: 100% !important;">
    <h1 class="tile-area-title">{{@blog.title}}</h1>
    <div class="tile-area-controls">
        <button class="image-button icon-right bg-transparent fg-white bg-hover-dark no-border"><span class="sub-header no-margin text-light">Geilcode.com</span> <span class="icon mif-user"></span></button>
        <button class="square-button bg-transparent fg-white bg-hover-dark no-border" onclick="showCharms('#charmSearch')"><span class="mif-search"></span></button>
        <button class="square-button bg-transparent fg-white bg-hover-dark no-border" onclick="showCharms('#charmSettings')"><span class="mif-cog"></span></button>
    </div>


    {{> "loop"}}

    <div class="tile-group double">
        <span class="tile-group-title">Autor</span>
        <div class="tile-container">
            <div class="tile bg-teal fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-pencil"></span>
                </div>
                <span class="tile-label">Editor</span>
            </div>
            <div class="tile bg-darkGreen fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-shopping-basket"></span>
                </div>
                <span class="tile-label">Store</span>
            </div>
            <div class="tile bg-cyan fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-skype"></span>
                </div>
                <div class="tile-label">Skype</div>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-cloud"></span>
                </div>
                <span class="tile-label">OneDrive</span>
            </div>
        </div>
    </div>

    <div class="tile-group double">
        <span class="tile-group-title">About</span>
        <div class="tile-container">
            <div class="tile bg-teal fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-pencil"></span>
                </div>
                <span class="tile-label">Editor</span>
            </div>
            <div class="tile bg-darkGreen fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-shopping-basket"></span>
                </div>
                <span class="tile-label">Store</span>
            </div>
            <div class="tile bg-cyan fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-skype"></span>
                </div>
                <div class="tile-label">Skype</div>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-cloud"></span>
                </div>
                <span class="tile-label">OneDrive</span>
            </div>
        </div>
    </div>

    {{> pagination}}
</div>