@import (reference)"variables.less";
@import (reference)"mixins/mixin-navigation.less";



@media screen and (max-width: 800px) {
	nav.navi {
		.navi-collapsed;
		min-height: 1.8rem;
		.gt-nav-tag {
		}
	}

	nav.navi ul {
		padding: 0;
		margin: 0;
		li {
			.baseli;
		}
		li:hover {
			.baseli;
			box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
			background-color: @naviElement-color;
		}
	}

	.gt-logo {
		.BaseLogo;
		font-size: 1rem;
		padding-left: 0.5rem;

	}
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
	@media (orientation:portrait) {
		nav.navi {
			.navi-collapsed;
			min-height: 1.8rem;
			.gt-nav-tag {
			}
		}

		nav.navi ul {
			padding: 0;
			margin: 0;
			li {
				.baseli;
			}
			li:hover {
				.baseli;
				box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
				background-color: @naviElement-color;
			}
		}

		.gt-logo {
			.BaseLogo;
			font-size: 1rem;
			padding-left: 0.5rem;

		}
	}
	@media (orientation:landscape) {
		nav.navi {
			.navi-left;
			transition:all 0.5s ease-in-out;
			-webkit-transition:all 0.5s ease-in-out;
			-moz-transition:all 0.5s ease-in-out;
			-o-transition:all 0.5s ease-in-out;
		}

		nav.navi:hover{
			.navi-left;
			transform:translateX(@navi-movement);
			-webkit-transform:translateX(@navi-movement);
			-moz-transform:translateX(@navi-movement);
			-o-transform:translateX(@navi-movement);
		}

		nav.navi ul {
			padding: 0;
			margin: 0;
			li {
				.baseli;
			}
			li:hover {
				.baseli;
				box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
				background-color: @naviElement-color;
			}
		}
		.gt-logo {
			.BaseLogo;
			font-size: 3rem;
		}
	}
}
@media screen and (min-width: 1200px) {
	nav.navi {
		.navi-left;
		transition:all 0.5s ease-in-out;
		-webkit-transition:all 0.5s ease-in-out;
		-moz-transition:all 0.5s ease-in-out;
		-o-transition:all 0.5s ease-in-out;
	}

	nav.navi:hover{
		.navi-left;
		transform:translateX(@navi-movement);
		-webkit-transform:translateX(@navi-movement);
		-moz-transform:translateX(@navi-movement);
		-o-transform:translateX(@navi-movement);
	}

	nav.navi ul {
		padding: 0;
		margin: 0;
		li {
			.baseli;
		}
		li:hover {
			.baseli;
			box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
			background-color: @naviElement-color;
		}
	}
	.gt-logo {
		.BaseLogo;
		font-size: 3rem;
	}
}

.gt-nav-tag {
	direction: rtl;
	position: absolute;
	top: 0;
	right: 0;
	padding-right:0.5rem;
	color: white;
	text-shadow: 5px 5px 5px #FF0000;
	font-size:1rem;
}

