/*variables list*/
/* @ VariableName: #FFFFFF;*/
@SidebarWidthExtended: 300px;
@SidebarWidthToggled: 40px;
@SidebarColor: #00a5ff;

@LogoTextColor: HotPink;
@LogoTextShadowColor: darkred;

/*LOGO STYLES*/
@RotateDegree: 90deg;
@LogoRotateOriginX: 0%;
@LogoRotateOriginY: 100%;
@LogoRotateOriginZ: 0%;

/*SIDEBAR STYLE VARIS*/
@PostAreaRotateYDegree: 45deg;
@PostAreaRotateOriginX: 50%;
@PostAreaRotateOriginY: 50%;
@PostAreaRotateOriginZ: 0%;

* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat !important;
  -moz-background-size:100%;
  background-size:100%;
}

body .covered {
  /*filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";*/
  -moz-background-size:100%;
  background-size:100%;

}

/*---------------------*/
/*****0. CONSTRUNTION*****/
/*---------------------*/
.body-wrapper {
  padding: 0;
  margin: 0;
  background-color:mediumpurple;
  width:100%;
}

.sidebar {
  background-color: @SidebarColor;
  width: @SidebarWidthExtended;
  height: 100%;
  position: fixed;
  float: left;
  left: @SidebarWidthToggled - @SidebarWidthExtended;
}

.posts-area {
  position: fixed;
  float: right;
  height: 100%;
  width:100%;
  margin-left: @SidebarWidthToggled;
  /*margin-right: 0;*/
  /*padding-left: 2rem;*/
  padding-right: 20px;
  background-color:transparent;
  transform-origin: 100% 50%;
}

.posts-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  height: 90%;
}

.pagination-wrapper {
  height: 10%;
  float: none;
  position: fixed;
}

article {
  background-color: #46ad55;
  /*background-color: transparent;*/
  margin: 1rem;
}
/*--------------------**/
/********1. LOGO********/
/*---------------------*/
.logo {
  font-family: 'Lobster', helvetica, arial;
  position: absolute;
  right: -4rem;
  top: 4rem;
  transform: rotate(@RotateDegree);
  transform-origin:@LogoRotateOriginX @LogoRotateOriginY @LogoRotateOriginZ;
}

.logo h1 {
  text-shadow: 3px 5px 10px @LogoTextShadowColor;
}

.logo a {
  text-decoration: none;
  color: @LogoTextColor;
}

.logo a:after {
  text-decoration: none;
  color: @LogoTextColor;
}
/********************/
/*****2. SIDEBAR *****/
/********************/

/********************/
/*****X. Responsive *****/
/********************/
/*@media screen and (min-width:1440px) and (max-width:1600px){}*/
@media screen and (min-width:1440px){ /*大于等于1440*/
  /*这里是特定的样式表*/
  /*
  body,input,textarea,select,small,a{font-size:14px;}
  */
  article {
    width:30%;
    height: 30%;
    position: relative;
    float: left;
  }
}
@media screen and (max-width:1024px){
  /*懒人建站*/
  h1 {
    color: blue;
  }
}
@media screen and (max-width:768px){
  /*不大于768px的设备尺寸中 响应式布局的特定样式*/
  h1 {
    color: red;
  }
}
@media screen and (max-width:360px){
  h1 {
    color: chartreuse;
  }
}
@media screen and (max-width:320px){
  h1 {
    color: mediumpurple;
  }
}

/********************/
/*****Y. Animation *****/
/********************/
