@charset "utf-8";
@font-face {
  font-family: Misaaki;
  src: url('Masaaki-Regular.otf');
}
/* global variables */
/* a tag decoration */
/* markdown variables */
/* post page variables */
/* navigation variables */
/* 0. RESET BROWSER STYLES */
/* 0. RESET BROWSER STYLES */
@font-face {
  font-family: "Matchup";
  src: url('../font/Matchup.otf');
}
html {
  height: 100%;
}
body {
  font-family: Microsoft YaHei, helvetica, verdana, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
}
body section {
  min-height: 100%;
}
::selection {
  background: #b3d4fc;
  color: #555;
}
::-moz-selection {
  background: #b3d4fc;
  color: #555;
}
::-webkit-selection {
  background: #b3d4fc;
  color: #555;
}
a {
  color: #1578FE;
  text-decoration: none;
}
.tag > a {
  color: black;
  text-decoration: none;
}
/* 1. MARKDOWN STYLES */
/* 标题 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  margin: 1rem 0;
}
h1 {
  font-size: 350%;
}
h2 {
  font-size: 300%;
}
h3 {
  font-size: 250%;
}
h4 {
  font-size: 200%;
}
h5 {
  font-size: 150%;
}
h6 {
  font-size: 100%;
}
/* 文本 */
em {
  color: #661200;
}
strong {
  font-weight: 900;
  color: #661200;
}
/* 无顺列表 */
ul > li {
  list-style-type: circle;
}
/* 有顺列表 */
ol > li {
  list-style-type: decimal;
}
/* 超链接 */
/* 图片 */
/* 代码块 */
pre {
  font-family: Consolas, monospace, serif;
  border: 1px solid #dddddd;
  background: #fafafa;
  border-radius: 3px;
  white-space: pre;
  margin: 0 0 1.75rem 0;
}
/* 行内代码 */
.basecode {
  font-family: Consolas, monospace, serif;
  color: #dd0055;
  white-space: pre-wrap;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fafafa;
  padding: 0 0.3rem;
  margin: 0 5px;
}
code {
  font-family: Consolas, monospace, serif;
  color: #dd0055;
  white-space: pre-wrap;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fafafa;
  padding: 0 0.3rem;
  margin: 0 5px;
}
pre > code {
  font-family: Consolas, monospace, serif;
  color: #dd0055;
  white-space: pre-wrap;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #fafafa;
  padding: 0 0.3rem;
  margin: 0 5px;
  /* word-wrap: break-word; */
  border: 0;
}
/* 引用 */
blockquote {
  border-left: 0.4rem solid #FF9797;
  background-color: #DAFFA9;
  margin: 0.4rem 0;
  padding: 0.4rem 0.8rem 0.4rem 1.2rem;
}
/* 分割线 */
/* 2. navigation styling */
nav ul {
  padding: 0;
  margin: 0;
}
.baseli {
  list-style-type: none;
  padding: 0.5rem;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li {
  list-style-type: none;
  padding: 0.5rem;
  text-align: center;
}
nav ul li:hover {
  list-style-type: none;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  background-color: #1A72FF;
}
.basenavi {
  background-color: #1A92FF;
  float: left;
  position: fixed;
  height: 100%;
  width: 10rem;
  top: 0;
}
nav.navi {
  background-color: #1A92FF;
  float: left;
  position: fixed;
  height: 100%;
  width: 10rem;
  top: 0;
  left: -8rem;
  box-shadow: 1rem 1rem 3rem rgba(35, 35, 35, 0.76);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
nav.navi:hover {
  background-color: #1A92FF;
  float: left;
  position: fixed;
  height: 100%;
  width: 10rem;
  top: 0;
  transform: translateX(8rem);
  -webkit-transform: translateX(8rem);
  -moz-transform: translateX(8rem);
  -o-transform: translateX(8rem);
}
.gt-nav-tag {
  direction: rtl;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0.5rem;
  color: white;
  text-shadow: 5px 5px 5px #FF0000;
}
.gt-logo {
  font-family: "Matchup";
  font-size: 4rem;
  color: #7D02FF;
  top: 0;
}
/* 3. article styling */
.home-template {
  background-color: #DEDEDE;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.paged {
  background-color: #DEDEDE;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.gt-pagination {
  border-radius: 2rem;
  text-align: center;
}
.gt-tags ul {
  margin: 0;
  padding: 0;
}
.gt-tags li {
  list-style-type: none;
  display: inline;
}
.tag {
  background-color: #6cc;
  padding: 0 5px;
  border-radius: 0.5rem 0.5rem 0rem 0.5rem;
}
.gt-index-title {
  color: black !important;
}
.post-template {
  background-color: #DEDEDE;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.gt-subpage {
  padding: 0.5rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 1rem 1rem 3rem rgba(35, 35, 35, 0.76);
  margin: 3rem auto 3rem auto;
  width: 61.8%;
}
.gt-post-content {
  padding: 0.5rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 1rem 1rem 3rem rgba(35, 35, 35, 0.76);
  margin: 3rem auto 3rem auto;
  width: 61.8%;
  position: relative;
}
.gt-post-header {
  text-align: center;
}
.gt-relative-wrapper {
  padding: 0.5rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 1rem 1rem 3rem rgba(35, 35, 35, 0.76);
  margin: 3rem auto 3rem auto;
  width: 61.8%;
  position: relative;
  height: 5rem;
  padding: 0;
  /* width: %; */
  background-color: transparent;
  box-shadow: none;
}
.gt-IMGwrapper {
  overflow: hidden;
  width: 100%;
}
.gt-post-img {
  width: 100%;
}
.baseExt-relativ {
  width: 49%;
  background-color: #DEDEDE;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.5%;
  height: 100%;
  position: relative;
}
.prev-post {
  width: 49%;
  background-color: #DEDEDE;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.5%;
  height: 100%;
  position: relative;
  float: left;
}
.next-post {
  float: left;
  width: 49%;
  background-color: #DEDEDE;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.5%;
  height: 100%;
  position: relative;
}
.qv {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
  margin-left: 38.2%;
}
.gt-quick-view {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
  margin-left: 38.2%;
}
.gt-bg {
  height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
.gt-bg:hover {
  height: 100%;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 4. pagination styling */
/* 5. footer styling */
.gt-footer {
  width: 100%;
  background-color: #181818;
  margin-top: 2rem;
}
.gt-footer > p {
  color: white;
  padding: 0;
  width: 61.8%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
/* 6. animation */
/* 7. meadia query */
