/*variables list*/
/* @ VariableName: #FFFFFF;*/
/*LOGO STYLES*/
/*SIDEBAR STYLE VARIS*/
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat !important;
  -moz-background-size: 100%;
  background-size: 100%;
}
body .covered {
  /*filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";*/
  -moz-background-size: 100%;
  background-size: 100%;
}
/*---------------------*/
/*****0. CONSTRUNTION*****/
/*---------------------*/
.body-wrapper {
  padding: 0;
  margin: 0;
  background-color: mediumpurple;
  width: 100%;
}
.sidebar {
  background-color: #00a5ff;
  width: 200px;
  height: 100%;
  position: fixed;
  float: left;
  left: -160px;
}
.posts-area {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  margin-left: 40px;
  /*padding-left: 2rem;*/
  background-color: transparent;
  transform-origin: 100% 50%;
}
article {
  background-color: #46ad55;
  margin: 1rem;
}
/*--------------------**/
/********1. LOGO********/
/*---------------------*/
.logo {
  font-family: 'Lobster', helvetica, arial;
  position: absolute;
  right: -2rem;
  top: 2rem;
  transform: rotate(90deg);
  transform-origin: 0% 100% 0%;
}
.logo h1 {
  text-shadow: 3px 5px 10px darkred;
}
.logo a {
  text-decoration: none;
  color: HotPink;
}
.logo a:after {
  text-decoration: none;
  color: HotPink;
}
/********************/
/*****2. SIDEBAR *****/
/********************/
/********************/
/*****X. Responsive *****/
/********************/
/*@media screen and (min-width:1440px) and (max-width:1600px){}*/
@media screen and (min-width: 1440px) {
  /*大于等于1440*/
  /*这里是特定的样式表*/
  /*
  body,input,textarea,select,small,a{font-size:14px;}
  */
}
@media screen and (max-width: 1024px) {
  /*懒人建站*/
  h1 {
    color: blue;
  }
}
@media screen and (max-width: 768px) {
  /*不大于768px的设备尺寸中 响应式布局的特定样式*/
  h1 {
    color: red;
  }
}
@media screen and (max-width: 360px) {
  h1 {
    color: chartreuse;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    color: mediumpurple;
  }
}
/********************/
/*****Y. Animation *****/
/********************/
@keyframes rotated {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(750deg);
  }
  50% {
    transform: rotateY(1500deg);
  }
  100% {
    transform: rotateY(3000deg);
  }
}
@-moz-keyframes rotated {
  /* Firefox */
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(750deg);
  }
  50% {
    transform: rotateY(1500deg);
  }
  100% {
    transform: rotateY(3000deg);
  }
}
@-webkit-keyframes rotated {
  /* Safari 和 Chrome */
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(750deg);
  }
  50% {
    transform: rotateY(1500deg);
  }
  100% {
    transform: rotateY(3000deg);
  }
}
@-o-keyframes rotated {
  /* Opera */
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(750deg);
  }
  50% {
    transform: rotateY(1500deg);
  }
  100% {
    transform: rotateY(3000deg);
  }
}
