html {
  font-size: 100%;
}
body {
  font-family: "Segoe UI", "Open Sans", sans-serif, serif;
  font-size: 0.875rem;
  line-height: 1.1;
  font-weight: 400;
  font-style: normal;
}
#font .light {
  font-weight: 300;
  font-style: normal;
}
#font .normal {
  font-weight: 400;
  font-style: normal;
}
#font .bold {
  font-style: normal;
  font-weight: 700;
}
#font .italic {
  font-style: italic;
}
.leader {
  font: 400 2.25rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
.sub-leader {
  font: 500 1.875rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
.header {
  font: 500 1.5rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
.sub-header {
  font: 500 1.125rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
.alt-header {
  font: 500 1rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
.sub-alt-header {
  font: 500 0.875rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
.minor-header {
  font: 500 0.75rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
h1 {
  font: 400 2.25rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
h2 {
  font: 500 1.875rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
h3 {
  font: 500 1.5rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
h4 {
  font: 500 1.125rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
h5 {
  font: 500 0.875rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
h6 {
  font: 500 0.75rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .625rem 0;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
  font-weight: 400;
  font-size: .7em;
  line-height: 1;
  color: #777;
}
.text-light {
  font-weight: 300;
  font-style: normal;
}
.text-normal {
  font-weight: 400;
  font-style: normal;
}
.text-bold {
  font-style: normal;
  font-weight: 700;
}
.text-italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capital {
  text-transform: capitalize;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}
.v-align-top {
  vertical-align: top;
}
.v-align-bottom {
  vertical-align: bottom;
}
.v-align-baseline {
  vertical-align: baseline;
}
.v-align-middle {
  vertical-align: middle;
}
.v-align-sub {
  vertical-align: sub;
}
.v-align-super {
  vertical-align: super;
}
.v-align-top-text {
  vertical-align: text-top;
}
.v-align-bottom-text {
  vertical-align: text-bottom;
}
.text-dashed {
  border: 0;
  border-bottom: 1px gray dashed;
  display: inline;
}
.indent-paragraph:first-letter {
  margin-left: 2.5rem;
}
.text-secondary {
  font-size: 0.75rem;
}
.text-accent,
.text-enlarged {
  font-size: 1.1rem;
}
.text-default {
  font-size: 0.875rem;
}
.text-small {
  font-size: 0.625rem;
}
.text-light {
  font-weight: 300;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
abbr {
  text-decoration: none;
  border-bottom: 1px #999999 dotted;
  cursor: help;
  display: inline;
}
address {
  font-weight: 400;
  font-style: normal;
  margin: .625rem 0;
}
blockquote {
  margin: .625rem 0;
  padding: 0 0 0 .625rem;
  border-left: 0.25rem #999999 solid;
}
blockquote small {
  color: #999999;
}
blockquote small:before {
  content: "\2014 \00A0";
}
blockquote.place-right {
  border: 0;
  border-right: 4px #999999 solid;
  padding-right: .625rem;
  text-align: right;
}
blockquote.place-right small:before {
  content: "";
}
blockquote.place-right small:after {
  content: " \00A0 \2014";
}
.unstyled-list {
  padding-left: 0;
  list-style: none;
}
.unstyled-list li ul,
.unstyled-list li ol {
  list-style: none;
  padding-left: 1.5625rem;
}
.inline-list {
  list-style: none;
  padding-left: 0;
}
.inline-list li {
  display: inline-block;
  margin-right: .625rem;
}
.inline-list li:last-child {
  margin-right: 0;
}
ul,
ol {
  margin-left: .3125rem;
}
ul li,
ol li {
  line-height: 1.25rem;
}
ul li ul,
ol li ul,
ul li ol,
ol li ol {
  padding-left: 1.5625rem;
}
dl dt,
dl dd {
  line-height: 1.25rem;
}
dl dt {
  font-style: normal;
  font-weight: 700;
}
dl dd {
  margin-left: .9375rem;
}
dl.horizontal dt {
  float: left;
  width: 10rem;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
dl.horizontal dd {
  margin-left: 11.25rem;
}
a {
  color: #2086bf;
}
a:visited {
  color: #2086bf;
}
hr {
  border: 0;
  height: 2px;
  background-color: #88b9e3;
}
hr.thin {
  height: 1px;
}
hr.fat {
  height: 3px;
}
.tag {
  display: inline-block;
  line-height: 1.1;
  font-size: 80%;
  padding: 1px 4px 2px;
  background-color: #eeeeee;
  border-radius: 2px;
  color: #1d1d1d;
  vertical-align: middle;
}
.tag.success {
  background-color: #60a917;
  color: #ffffff;
}
.tag.alert {
  background-color: #ce352c;
  color: #ffffff;
}
.tag.info {
  background-color: #1ba1e2;
  color: #ffffff;
}
.tag.warning {
  background-color: #fa6800;
  color: #ffffff;
}
a.tag {
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=typography.css.map */