<!DOCTYPE html>
<html>
<head>
	<title>post page</title>
	<meta charset="utf-8" />
	<meta http-equiv="charset" content="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon16.ico" sizes="16x16">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon32.ico" sizes="32x32">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body class="gt-home-temp" style="background-image: url('/assets/img/bg.jpg');">
	<nav class="navi">
		<div class="gt-logo">R</div>
		<div class="gt-nav-tag"  id="nav-tag">
			噫
		</div>
		<div>
			<ul>
				<li><a href="./homepage.html">首页</a></li>
				<li><a href="./post.html">post page</a></li>
				<li><a href="#">栏目1</a></li>
				<li><a href="#">栏目1</a></li>
				<li><a href="#">栏目1</a></li>
				<li><a href="#">栏目1</a></li>
			</ul>
		</div>
	</nav>
	<section>
		<article class="gt-subpage gt-post-content">

			<section>
				<header>
					<h1>TITLE</h1>
					<section>
						<div class="gt-tags">
							<ul>
								<li class="tag">tag1</li>
								<li class="tag">tag1</li>
								<li class="tag">tag1</li>
								<li class="tag">tag1</li>
							</ul>
						</div>
					</section>
				</header>
				<section>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, impedit fuga sequi in cupiditate eveniet atque dolores veritatis! Earum cumque quos illo autem quod natus ab dolor perspiciatis eius quisquam.</p>
				</section>
			</section>
		</article>
		<aside class="gt-subpage gt-pagination">
			<div>
				prev 1 / 6 next
			</div>
		</aside>
	</section>
	<footer class="gt-footer">
		<p>footer & copyright</p>
	</footer>

	<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>