<!DOCTYPE html>
<html>
<head>
	<title>post page</title>
	<meta charset="utf-8" />
	<meta http-equiv="charset" content="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

	<meta name
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon16.ico" sizes="16x16">
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon32.ico" sizes="32x32">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body class="gt-post-temp" style="background-image: url('/assets/img/bg.jpg');">
	<nav class="navi">
		<div class="gt-logo">R</div>
		<div class="gt-nav-tag">
			噫
		</div>
		<div>
			<ul>
				<li><a href="./homepage.html">index</a></li>
				<li><a href="./post.html">post</a></li>
				<li>1</li>
				<li>1</li>
				<li>1</li>
			</ul>
		</div>
	</nav>
	<section>
		<article class="gt-subpage gt-post-content">

			<section>
				<header>
					<h1 class="gt-post-header">TITLE</h1>
					<section>
						<div class="gt-tags">
							<ul>
								<li class="tag">tag1</li>
								<li class="tag">tag1</li>
								<li class="tag">tag1</li>
								<li class="tag">tag1</li>
							</ul>
						</div>
				</section>
				</header>
				<section>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, impedit fuga sequi in cupiditate eveniet atque dolores veritatis! Earum cumque quos illo autem quod natus ab dolor perspiciatis eius quisquam.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, impedit fuga sequi in cupiditate eveniet atque dolores veritatis! Earum cumque quos illo autem quod natus ab dolor perspiciatis eius quisquam.</p>
					<h1>h1</h1>
					<h2>h2</h2>
					<h3>h3</h3>
					<h4>h4</h4>
					<h5>h5</h5>
					<h6>h6</h6>
					<blockquote>
						<p>hellp, world</p>
					</blockquote>
					<hr>
					<p><strong>strong</strong>,<em>em</em>,<strong><em>strong&em</em></strong></p>
					<p><a href="#">link</a></p>
					<p>the program language <code>python</code> is a good script language</p>
					<pre>
						def python():
					pass
					</pre>
					<hr>
					<ul>
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
					<ol>
						<li>python</li>
						<li>node.js</li>
						<li>html</li>
						<li>css</li>
					</ol>
				</section>
			</section>
		</article>
		<aside class="gt-subpage gt-post-content" style="display:none;">
			I am author
			<!-- custom content here -->
		</aside>
		<aside class="gt-subpage gt-relative-wrapper">
			<div class="prev-post">
				<section class="gt-bg" style="background-image:url('/assets/img/bg.jpg');"></section>
				<section class="gt-quick-view">
					<header>
						<h6>Titladssssssssssssse</h6>
					</header>
				</section>
			</div>
			<div class="next-post">
				<section class="gt-bg" style="background-image:url('/assets/img/bg.jpg');"></section>
				<section class="gt-quick-view">
					<header>
						<h6>Title</h6>
					</header>
				</section>
			</div>
		</aside>
		<aside class="gt-subpage gt-post-content">
			<div id="disqus_thread"></div>
		</aside>

<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//raphaelsoul.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</aside>
	</section>
	<footer class="gt-footer">
		<p>footer & copyright</p>
	</footer>

	<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>